body {
  background-image: url(media/clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h2,
h5 {
  font-family: "Oswald", sans-serif, "Roboto Mono", monospace;
  color: #ffffff;
}

.first-sun-cloud {
  font-size: xx-large;
  color: white;
}

.fa-solid.fa-cloud,
.fa-solid.fa-cloud-sun,
.fa-solid.fa-cloud-sun-rain,
.fa-solid.fa-cloud-showers-heavy {
  color: white;
  font-size: 45px;
}

strong {
  color: white;
  font-size: 50px;
}

hr {
  color: #ffffff;
}
